{% extends "base.html" %}
{% block content %}

<section class="container narrow">

  <div class="card">

    <h2 class="page-title">Add Destination</h2>

    <form method="POST">

      <div class="form-group">
        <label>City</label>
        <input type="text" name="city" required>
      </div>

      <div class="form-group">
        <label>Country</label>
        <input type="text" name="country" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea name="description"></textarea>
      </div>

      <div class="form-group">
        <label>Image URL</label>
        <input type="text" name="image">
      </div>

      <button type="submit" class="btn-primary full-width">
        Add Destination
      </button>

    </form>

  </div>

</section>

{% endblock %}